{% extends '::frontend.html.twig' %}
{% block article %}
<section class="anuncio">
{{ anuncio.anuncio.titulo }}
{{ anuncio.anuncio.descripcion }}
</section>
<section class="mascota">
    {{ anuncio.anuncio.mascota.nombre }}
    
</section>
<section class="galeria">
    {% for foto in anuncio.anuncio.mascota.fotos %}
        <img src="{{ '/uploads/images/'~foto.url }}">
    {% endfor%}
</section>

<section class="ubicacion">
    {% for zon in anuncio.anuncio.zonas %}
        {{ zon.direccion }}
    <img src="http://maps.google.com/maps/api/staticmap?center={{ zon.coordinates.getLatitude }},
{{ zon.coordinates.getLongitude }}&zoom=16&size=540x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C{{ zon.coordinates.getLatitude }},{{ zon.coordinates.getLongitude }}&sensor=false">
    {% endfor %}
</section>
{% endblock %}
